openapi: 3.0.3
info:
  title: Sensibill API
  description: The Sensibill Platform API
  version: 2.2022.3.30
  contact:
    url: 'https://getsensibill.com'
    email: prodsupport@getsensibill.com
    name: Sensibill
  termsOfService: 'https://getsensibill.com/terms-of-service'

# https://github.com/faker-js/faker
x-json-schema-faker:
  locale: en
  min-items: 1
  max-items: 3
  resolve-json-path: true
  
tags:
  - name: Home
    description: Home
  - name: Authentication
    description: Authentication
  - name: Documents
    description: Documents
  - name: Exports
    description: Exports
  - name: Lookups
    description: Lookups
  - name: Merchants
    description: Merchants
  - name: Users
    description: Users
  - name: Folders
    description: Folders
servers:
  - url: https://receipts-sandbox.sensibill.io/api/v2
    description: 'Public Server'
  - url: https://beta.getsensibill.com/api/v2
    description: 'Internal/Beta Server'

paths:
  /:
    get:
      operationId: getApiInfo
      tags:
        - Home
      security: []
      summary: API Home Endpoint
      description: 'The API Home Endpoint returns general information about the Sensibill API. It should be the first point of contact for any system integrating with Sensibill, as it will provide clients with up-to-date URLs for other endpoints, as well as status information on the general Sensibill architecture.'
      responses:
        '200':
          description: Success. This is the only valid status code from the home endpoint. Anything else indicates internal server problems.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInfoDto'
  /jwtAuthenticate:
    post:
      operationId: authenticateWithJwt
      tags:
        - Authentication
      summary: Authentication using JWT
      description: 'Allows clients to authenticate and acquire an access token using a JSON Web Token. <br/><br/>If successful, the response includes a user or client access token which can be used as a session token for other authenticated endpoints in the Sensibill API. <br/><br/>There are two types of access tokens - user tokens and client tokens. Passing in your clientID in the ''sub'' claim (or individual ID claim field) of your JWT will return a client access token. Passing a user''s access ID in your ID Claim field will return a user access token instead. <br/><br/>Your client account must be configured to allow JWT (please reach out to the Sensibill Support Team). The API supports JWS and JWE as JWT implementations. <br/><br/>JWS currently supports RSA and ECDSA signing algorithms (RS256, RS384, RS512, ES256, ES384, ES512). Public keys for signature verification should be made available through a publicly accessible URL. JWS header must have ''alg'' and ''kid'' parameters and the payload must have at least ''sub'' and ''iat'' claims. The ''sub'' claim is used to identify either a user or a client. If there is a desire to use another claim for those purposes then it can be configured during the client account setup. JWS implementation also supports ''exp'', ''aud'', ''iss'' and ''scp'' claims. If there is a need to validate those claims they should be configured as part of the client account setup. <br/><br/>JWE currently supports RSAES OAEP using default parameters (''alg'': RSA-OAEP) for encrypting the Content Encryption Key (CEK) and AES GCM using 256-bit key (''enc'': A256GCM) for encrypting the content. Please reach out to the Sensibill Support Team to receive Sensibill’s public key to be used for JWT encryption. JWE’s content is expected to be a JWS conforming to the JWS requirements mentioned earlier. <br/><br/>The response also returns a token_id. This can not be used for authenticating regular requests, but is required for using our query parameter based signature method.'
      requestBody:
        $ref: '#/components/requestBodies/JwtAuthenticateRequest'
      responses:
        '200':
          description: Success. Use the token in the body for other authenticated calls as this user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JwtAuthenticateResponseDto'
        '400':
          description: 'Bad Request. This will occur if you omit a required parameter, or if you provide an invalid value for a required parameter.'
        '401':
          description: Unauthorized. This will occur if the credentials you have provided are invalid.
  /invalidate:
    post:
      operationId: invalidateAccessToken
      tags:
        - Authentication
      summary: Invalidate access token
      description: 'This endpoint can be used to permanently invalidate an access token. Simply POST to this endpoint using a normal authenticated request, and whatever access token was used in the request will be invalid for any further requests.'
      responses:
        '200':
          description: Success. The token was successfully invalidated.
        '401':
          description: Unauthorized. This will occur if the credentials you have provided are invalid.
  /logout:
    get:
      operationId: logout
      tags:
        - Authentication
      summary: Logout user
      description: 'Performs a user logout, clearing the session and invalidating the access token. Works similarly to /invalidate, but simply as a GET call.'
      responses:
        '200':
          description: Success. The user was logged out. This is the only valid status code from the logout endpoint. Anything else indicates internal server problems.
  /clientInfo:
    get:
      operationId: getClientInfo
      tags:
        - Authentication
      summary: Client information
      description: 'Allows a client to retrieve information about itself. You can use this endpoint with the client''s OAuth key and secret using Basic authentication, with a client access token, or with a user access token. When using a client access token, the response also includes the expiration time for the token used.'
      responses:
        '200':
          description: Success. The information for the client was retrieved and returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientInfoResponseDto'
        '401':
          description: Unauthorized. This will occur if the credentials provided are invalid.
        '403':
          description: Access Error. This will occur if the credentials provided are valid but not associated with a suitable client.
  /authorizationGrant:
    get:
      operationId: getAuthorizationGrant
      tags:
        - Authentication
      summary: Request an authorization grant
      description: 'Allows clients to request an authorization grant to begin the OAuth2 flow. As an OAuth2 endpoint, all of the parameters and result variables from this endpoint have names that use underscores, versus the rest of the API which is camel-cased. <br/><br/>Clients must provide a username and password in the Authorization header of the request (or equivalent accessID, accessSecret and credentialType for SSO clients). This can be accomplished by setting a ''basic'' authentication header using the user''s username and password in compliance with Section 2 of RFC 2617 like shown below: <br/><br/>`Authorization: ''Basic base64(username:password)''` <br/><br/><strong>Types of secrets</strong> <br/><br/>Sensibill supports 2 modes of operation for client secrets: <br/><br/>In the case where a client can guarantee a secret that is closely guarded, it allows for user administration support (e.g, deactivate, reactivate users, etc) <br/>In the case where the secret may not be so secret ie. embedded in an application, the administrative actions are not allowed. <br/><br/>For an example, please refer to <a href=''./apiref/demo.html#step_five''>''Authentication Step Five'' of the jQuery Demo</a>.'
      parameters:
        - $ref: '#/components/parameters/ClientIDParameter'
        - $ref: '#/components/parameters/ResponseTypeParameter'
        - $ref: '#/components/parameters/RedirectURIParameter'
        - $ref: '#/components/parameters/CredentialTypeParameter'
        - $ref: '#/components/parameters/RedirectParameter'
      responses:
        '200':
          description: Success. The authorization grant was created successfully. Use the code in the body with the Access Token endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationResponse'
        '400':
          description: 'Bad Request. This will occur if you omit a required parameter, or if you provide an invalid value for a required parameter. It can also occur if you try to log in using a credentialType which your client is not authorized for.'
        '401':
          description: Unauthorized. This will occur if the credentials you have provided are invalid.
  /accessToken:
    post:
      operationId: createAccessToken
      tags:
        - Authentication
      summary: Obtain an Access Token
      description: 'Allows a client to use its credentials to obtain an access token, to swap an authorization grant for an access token, or to swap a refresh token for a new access token. There are two types of access tokens - user tokens and client tokens. <br/><br/>A client token authenticates a specific client, e.g. your architecture and servers. client tokens can be used to access any resources owned by the client, such as general information on users your client has created. Client tokens are also required to register new users or make requests on their behalf such as the user posting a receipt. <br/><br/>A user token authenticates a specific user to our system, e.g. Jane Doe of Winnipeg, Manitoba. A user token will be required if you want to access specific data about a user, such as the details of that user''s documents. <br/><br/>Token expiry information is in the `expires_in` and `refresh_expires_in` fields. <br/><br/>You can also retrieve the expiration times for user and client access tokens using the user GET endpoint, `/users/:userID`, and the clientInfo GET endpoint, `/clientInfo`, respectively. <br/><br/>No matter which kind of access token is being requested, the client MUST include their Client Key and Client Secret as the username and password, respectively, in the HTTP Authorization header, on top of providing required parameters below. <br/><br/>This can be accomplished by setting a ''basic'' authentication header using the Client Key and Client Secret as username and password like shown below: <br/><br/>`Authorization: ''Basic base64(ClientKey:ClientSecret)''` <br/><br/>The access token is currently always a bearer token, which should be sent in the ''Authorization'' header in the format ''Bearer accessToken''. <br/><br/>In the future, other token types may also be used, so please check the `token_type` provided in the response. <br/><br/>For an example, please refer to <a href=''./apiref/demo.html#step_six''>''Authentication Step Six'' of the jQuery Demo</a>. <br/><br/>The response also returns a `token_id`. This can not be used for authenticating regular requests, but is required for using our query parameter based signature method.'
      parameters:
        - $ref: '#/components/parameters/GrantTypeParameter'
        - $ref: '#/components/parameters/TokenRedirectURIParameter'
        - $ref: '#/components/parameters/CodeParameter'
        - $ref: '#/components/parameters/RefreshTokenParameter'
      requestBody:
        $ref: '#/components/requestBodies/AccessTokenRequest'
      responses:
        '200':
          description: Success. The access token was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenResponseDto'
        '400':
          description: 'Bad Request. This will occur if you omit a required parameter, or if you provide an invalid value for a required parameter. It can also occur if you put in the wrong Redirect URI, for example, if you put one that doesn''t match what you provided when you made the authorization grant request.'
        '401':
          description: Unauthorized. This will occur if the client key/secret you have provided is invalid.
  /documents:
    get:
      tags:
        - Documents
      summary: Returns a paginated list of documents from a user.
      description: This will retrieve a paginated list of documents for the current user.
      operationId: getDocuments
      parameters:
        - name: limit
          in: query
          description: |
            Specify the number of documents to return. \
            If no value is passed it will use the default to limit the number of items in the list
          required: false
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
        - name: offset
          in: query
          description: |
            Page number for the documents to be returned. The page count uses the limit value to define which documents will be returned. \
            It is zero based index, so first page is 0. \
            Example for starting at the third page in a list of results: `?offset=2`
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 100
            default: 0
        - name: sortBy
          in: query
          description: |
            Document attribute to sort the response data. The default sort order is descending, but this can be specified using the `orderBy` filter. \
            Current acceptable values are: `arrivalDateTime`, `documentDate`, or `documentTime`
          required: false
          schema:
            $ref: '#/components/schemas/DocumentSortByEnum'
        - name: orderBy
          in: query
          description: |
            If sorting the returned documents with the `sortBy` filter, this orderBy filter allows you to specify a sort order. \
            This will be handy if you want to sort in ascending order since the default sort order is descending. \
            Current acceptable values (case insensitive) are: `ASC`, `DESC`
          required: false
          schema:
            $ref: '#/components/schemas/DocumentOrderByEnum'
        - name: filter.accountMetadata.account
          in: query
          description: |
            Array of `accountMetadata.account` to filter the documents. Should ideally satisfy the `/^[a-zA-Z0-9-_:.]+$/` pattern \
            **Example:** `filter.accountMetadata.account='ACC102030'&filter.accountMetadata.account='405060'`
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/GenericIdString'
            maxItems: 20
        - name: filter.accountMetadata.account.exists
          in: query
          description: |
            This is used to match and include documents where a value *exists* for the `accountMetadata.account` property. \
            Only `true` or `false` boolean values are accepted. A mix of operators with basic values is not supported. 
            If `accountMetadata.account.exists` is provided together with plain values for account, this `exists` operator is ignored. \
            **Example:** To filter all documents with `accountMetadata.account` not set, use `filter.accountMetadata.account.exists=false`
          required: false
          schema:
            type: boolean
        - name: filter.accountMetadata.transactionId
          in: query
          description: |
            Array of `accountMetadata.transactionId` to filter the documents. Should ideally satisfy the `/^[a-zA-Z0-9-_:.]+$/` pattern. \
            **Example:** `filter.accountMetadata.transactionId='TX00001'&filter.accountMetadata.transactionId='TX00002'`
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/GenericIdString'
            maxItems: 20
        - name: filter.accountMetadata.transactionId.exists
          in: query
          description: |
            This is used to match and include documents where a value *exists* for the `accountMetadata.transactionId` property. \
            Only `true` or `false` boolean values are accepted. A mix of operators with basic values is not supported. 
            If `accountMetadata.transactionId.exists` is provided together with plain values for transactionId, this `exists` operator is ignored. \
            **Example:** To filter all documents with `accountMetadata.transactionId` not set, use `filter.accountMetadata.transactionId.exists=false`
          required: false
          schema:
            type: boolean
        - name: filter.amountDue
          in: query
          description: |
            Array of `amountDue` values to filter the documents. `afterTax` is the document property considered for the match. \
            **Example:** `filter.amountDue=1000.55&filter.amountDue=1010.90`
          required: false
          schema:
            type: array
            items:
              type: number
              minimum: 0
            maxItems: 20
        - name: filter.amountDue.gte
          in: query
          description: |
            This is a *greater than or equal to* filter on the `amountDue` value to filter the documents. `afterTax` is the document property considered for the match. \
            All filter conditions will compose a logical `AND` chain in the query. A mix of operators with basic values is not supported. \
            **Examples:** \
            * with single operator: `filter.amountDue.gte=1000.55`
            * with other operators (behave like AND): `filter.amountDue.gte=1000.55&filter.amountDue.lte=1010.90`
          required: false
          schema:
            type: number
            minimum: 0
        - name: filter.amountDue.lte
          in: query
          description: |
            This is a *lesser than or equal to* filter on the `amountDue` value to filter the documents. `afterTax` is the document property considered for the match. \
            All filter conditions will compose a logical `AND` chain in the query. A mix of operators with basic values is not supported. \
            **Examples:** \
            * with single operator: `filter.amountDue.lte=1000.55`
            * with other operators (behave like AND): `filter.amountDue.gte=1000.55&filter.amountDue.lte=1010.90`
          required: false
          schema:
            type: number
            minimum: 0
        - name: filter.arrivalDateTime.gte
          in: query
          description: |
            This is a *greater than or equal to* filter on the `arrivalDateTime` to filter the documents.
            All filter conditions will compose a logical `AND` chain in the query. The `arrivalDateTime` filter does not match exact values and is considered to be UTC. \
            Date-time formats allowed are: `YYYY-MM-DDTHH:mm:ss.SSS` or `YYYY-MM-DD HH:mm:ss.SSS`. Time fields can be suppressed from the end to the beginning i.e. `YYYY-MM-DD HH:mm` is acceptable. \
            **Examples:** \
            * with just date: `filter.arrivalDateTime.gte='2012-12-28'`
            * with date and time: `filter.arrivalDateTime.gte='2012-12-28T21:27'`
            * with date and time: `filter.arrivalDateTime.gte='2012-12-28 21:27:55.827'`
            * with other operators (behave like AND): `filter.arrivalDateTime.gte='2012-12-28T21:27'&filter.arrivalDateTime.lte='2012-12-28T21:27:59'`
          required: false
          schema:
            type: string
            format: date-time
        - name: filter.arrivalDateTime.lte
          in: query
          description: |
            This is a *lesser than or equal to* filter on the arrivalDateTime to filter the documents.
            All filter conditions will compose a logical `AND` chain in the query. The `arrivalDateTime` field does not match exact values and is considered to be UTC. \
            Date-time formats allowed are: `YYYY-MM-DDTHH:mm:ss.SSS` or `YYYY-MM-DD HH:mm:ss.SSS`. Time fields can be suppressed from the end to the beginning i.e. `YYYY-MM-DD HH:mm` is acceptable. \
            **Examples:** \
            * with just date: `filter.arrivalDateTime.lte='2012-12-28'`
            * with date and time: `filter.arrivalDateTime.lte='2012-12-28T21:27'`
            * with date and time: `filter.arrivalDateTime.lte='2012-12-28 21:27:55.827'`
            * with other operators (behave like AND): `filter.arrivalDateTime.gte='2012-12-28T21:27'&filter.arrivalDateTime.lte='2012-12-28T21:27:59'`
          required: false
          schema:
            type: string
            format: date-time
        - name: filter.categoryCode
          in: query
          description: |
            Array of `categoryCode` values to filter the documents. \
            **Example:** `filter.categoryCode='shopping'&filter.categoryCode='business'`
          required: false
          schema:
            type: array
            maxItems: 20
            items:
              type: string
              pattern: ^[a-zA-Z0-9-_ ]+$
              minLength: 3
              maxLength: 25
        - name: filter.currencyCode
          in: query
          description: |
            Array of `currencyCode` values to filter the documents. \
            **Example:** `filter.currencyCode='CAD'&filter.currencyCode='USD'`
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/CurrencyCodeDto'
            maxItems: 20
        - name: filter.description
          in: query
          description: |
            Array of `description` values to filter the documents. The filter is case insentive and matches any document where the
            description contains the given value. Values should ideally satisfy the /^[a-zA-Z0-9.?!\-,\\\/:_@#'" ]{0,75}$/ pattern which prohibits the `;` punctuation \
            **Example:** `filter.description='Dinner with friends'&filter.description='Children winter gear'
          required: false
          schema:
            type: array
            items:
              type: string
              maxLength: 75
              pattern: ^[a-zA-Z0-9.?!\-,\\\/:_@#'" ]{0,75}$
            maxItems: 20
        - name: filter.documentDate
          in: query
          description: |
            Array of `documentDate` values to filter the documents. \
            **Example:** `filter.documentDate='2021-04-04'&filter.documentDate='2021-12-08'`
          required: false
          schema:
            type: array
            items:
              type: string
              format: date
            maxItems: 20
        - name: filter.documentDate.gte
          in: query
          description: |
            This is a *greater than or equal to* filter on the `documentDate` to filter the documents. \
            All filter conditions will compose a logical `AND` chain in the query. A mix of operators with basic values is not supported. \
            **Examples:** \
            * with single operator: `filter.documentDate.gte='2012-12-28'`
            * with other operators (behave like AND): `filter.documentDate.gte='2012-12-28'&filter.documentDate.lte='2023-12-28'`
          required: false
          schema:
            type: string
            format: date
        - name: filter.documentDate.lte
          in: query
          description: |
            This is a *lesser than or equal to* filter on the `documentDate` to filter the documents. \
            All filter conditions will compose a logical `AND` chain in the query. A mix of operators with basic values is not supported. \
            **Examples:** \
            * with single operator: `filter.documentDate.lte='2012-12-28'`
            * with other operators (behave like AND): `filter.documentDate.gte='2012-12-28'&filter.documentDate.lte='2023-12-28'`
          required: false
          schema:
            type: string
            format: date
        - name: filter.documentNumber
          in: query
          description: |
            Array of `documentNumber` values to filter the documents. \
            **Example:** `filter.documentNumber='112233'&filter.documentNumber='445566'`
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/GenericIdString'
            maxItems: 20
        - name: filter.documentTime
          in: query
          description: |
            Array of `documentTime` values to filter the documents. \
            **Example:** `filter.documentTime='21:12'&filter.documentTime='22:13'`
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/DocumentTimeDto'
            maxItems: 20
        - name: filter.documentTime.gte
          in: query
          description: |
            This is a *greater than or equal to* filter on the `documentTime` to filter the documents. \
            All filter conditions will compose a logical `AND` chain in the query. A mix of operators with basic values is not supported. \
            **Example:** \
            * with single operator: `filter.documentTime.gte='10:00'`
            * with other operators (behave like AND): `filter.documentTime.gte='10:00'&filter.documentTime.lte='14:00'`
          required: false
          schema:
            $ref: '#/components/schemas/DocumentTimeDto'
        - name: filter.documentTime.lte
          in: query
          description: |
            This is a *lesser than or equal to* filter on the `documentTime` to filter the documents. \
            All filter conditions will compose a logical `AND` chain in the query. A mix of operators with basic values is not supported. \
            **Example:** \
            * with single operator: `filter.documentTime.lte='10:00'`
            * with other operators (behave like AND): `filter.documentTime.gte='10:00'&filter.documentTime.lte='14:00'`
          required: false
          schema:
            $ref: '#/components/schemas/DocumentTimeDto'
        - name: filter.documentType
          in: query
          description: |
            Array of `documentType` to filter the documents. Currently supported values are [invoice, receipt]. \
            **Example:** `filter.documentType='invoice'`
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/DocumentTypeEnum'
            maxItems: 2
        - name: filter.expenseType
          in: query
          description: |
            Array of `expenseType` to filter the documents. Currently supported values are [business, personal]. \
            **Example:** `filter.expenseType='business'`
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ExpenseTypeEnum'
        - name: filter.folder
          in: query
          description: |
            Will only return documents that are in one or more of the folder IDs specified. The folder IDs should match those set on the user that the document belongs to.
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/GenericIdString'
            maxItems: 20
        - name: filter.foreignId
          in: query
          description: |
            Array of `foreignId` to filter the documents. Example: `filter.foreignId='20210930_001'`
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/GenericIdString'
            maxItems: 20
        - name: filter.fulltext
          in: query
          required: false
          description: 'Will perform a case insensitive full text search on the following properties of a document: merchant name, total amount (after tax), item descriptions, document description. Total amount can match both the integer part or the amount with two decimals with the `.` as separator.'
          schema:
            type: string
        - name: filter.id
          in: query
          description: |
            Array of ids to filter the documents. Example: `filter.id='mE0wyhAwJoPMUWlzrbVY'`
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/GenericIdString'
            maxItems: 20
        - name: filter.lastUpdateDateTime.gte
          in: query
          description: |
            This is a *greater than or equal to* filter on the `lastUpdateDateTime` to filter the documents. \
            All filter conditions will compose a logical `AND` chain in the query. The `lastUpdateDateTime` filter does not match exact values and is considered to be UTC. \
            Date time formats allowed are: 'YYYY-MM-DDTHH:mm:ss.SSS' or 'YYYY-MM-DD HH:mm:ss.SSS'. Time fields can be suppressed from the end to the beginning i.e. 'YYYY-MM-DD HH:mm' is acceptable. \
            **Examples:** \
            * with just date: `filter.lastUpdateDateTime.gte='2012-12-28'`
            * with date and time: `filter.lastUpdateDateTime.gte='2012-12-28T21:27'`
            * with date and time: `filter.lastUpdateDateTime.gte='2012-12-28 21:27:55.827'`
            * with other operators (behave like AND): `filter.lastUpdateDateTime.gte='2012-12-28T21:27'&filter.lastUpdateDateTime.lte='2012-12-28T21:27:59'`
          required: false
          schema:
            type: string
            format: date-time
        - name: filter.lastUpdateDateTime.lte
          in: query
          description: |
            This is a *greater than or equal to* filter on the `lastUpdateDateTime` to filter the documents. \
            All filter conditions will compose a logical `AND` chain in the query. The `lastUpdateDateTime` filter does not match exact values and is considered to be UTC. \
            Date time formats allowed are: 'YYYY-MM-DDTHH:mm:ss.SSS' or 'YYYY-MM-DD HH:mm:ss.SSS'. Time fields can be suppressed from the end to the beginning i.e. 'YYYY-MM-DD HH:mm' is acceptable. \
            **Examples:** \
            * with just date: `filter.lastUpdateDateTime.lte='2012-12-28'`
            * with date and time: `filter.lastUpdateDateTime.lte='2012-12-28T21:27'`
            * with date and time: `filter.lastUpdateDateTime.lte='2012-12-28 21:27:55.827'`
            * with other operators (behave like AND): `filter.lastUpdateDateTime.gte='2012-12-28T21:27'&filter.lastUpdateDateTime.lte='2012-12-28T21:27:59'`
          required: false
          schema:
            type: string
            format: date-time
        - name: filter.merchantName
          in: query
          description: |
            Array of `merchantName` values to filter the documents. Example: `filter.merchantName='Home Sense'&filter.merchantName='IKAE'`
          required: false
          schema:
            type: array
            items:
              type: string
              maxLength: 30
              pattern: ^[a-zA-Z0-9.?!\-,\\\/:_@#'" ]$
            maxItems: 20
        - name: filter.merchantTaxIdNumber
          in: query
          description: |
            Array of `merchantTaxIdNumber` values to filter the documents. \
            **Example:** `filter.merchantTaxIdNumber='1111 RT0001'&filter.merchantTaxIdNumber='2222 RT0002'`
          required: false
          schema:
            type: array
            items:
              type: string
              maxLength: 25
              pattern: ^[a-zA-Z0-9-_:. ]+$
            maxItems: 20
        - name: filter.notes
          in: query
          description: |
            Array of `notes` values to filter the documents. The filter is case insentive and matches any document where the
            notes contains the given value. \
            **Example:** `filter.notes='Recurrent expense'&filter.description='Wedding cake insurance'
          required: false
          schema:
            type: array
            items:
              type: string
              maxLength: 75
              pattern: ^[a-zA-Z0-9.?!\-,\\\/:_@#'" ]$
        - name: filter.paymentTender
          in: query
          description: |
            Array of `paymentTender` values to filter the documents. \
            **Example:** `filter.paymentTender='Amex'&filter.paymentTender='Cash'`
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/TenderTypesEnum'
            maxItems: 20
        - name: filter.returnPeriodDuration
          in: query
          description: |
            Array of `userMetadata.returnPeriod.duration` values to filter the documents. \
            When an array of filter.returnPeriodDuration is provided, they will compose a logial `OR` chain in the query. A mix of operators with basic values is not supported. \
            **Example:** (behave like OR): `filter.returnPeriodDuration=1&filter.returnPeriodDuration=10`
          required: false
          schema:
            type: array
            items:
              type: number
              minimum: 0
            maxItems: 20
        - name: filter.returnPeriodDuration.gte
          in: query
          description: |
            This is a *greater than or equal to* filter on the `userMetadata.returnPeriod.duration` to filter the documents. \
            All filter conditions will compose a logical `AND` chain in the query. A mix of operators with basic values is not supported. \
            **Examples:**
            * with single operator: `filter.returnPeriodDuration.gte=1`
            * with other operators (behave like AND): `filter.returnPeriodDuration.gte=1&filter.returnPeriodDuration.lte=10`
          required: false
          schema:
            type: number
            minimum: 0
        - name: filter.returnPeriodDuration.lte
          in: query
          description: |
            This is a *lesser than or equal to* filter on the `userMetadata.returnPeriod.duration` to filter the documents. \
            All filter conditions will compose a logical `AND` chain in the query. A mix of operators with basic values is not supported. \
            **Examples:**
            * with single operator: `filter.returnPeriodDuration.lte=10`
            * with other operators (behave like AND): `filter.returnPeriodDuration.gte=1&filter.returnPeriodDuration.lte=10`
          required: false
          schema:
            type: number
            minimum: 0
        - name: filter.returnPeriodUnit
          in: query
          description: |
            Array of `userMetadata.returnPeriod.unit` values to filter the documents. Example: `filter.returnPeriodUnit='day'&filter.returnPeriodUnit='week'`
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/PeriodUnitEnum'
            maxItems: 20
        - name: filter.total
          in: query
          description: |
            Array of `total` values to filter the documents. `afterTax` is the document property considered for the match. \
            When an array of filter.total is provided, they will compose a logial `OR` chain in the query. A mix of operators with basic values is not supported. \
            **Example:** (behave like OR): `filter.total=1000.55&filter.total=1010.90`
          required: false
          schema:
            type: array
            items:
              type: number
              minimum: 0
            maxItems: 20
        - name: filter.total.gte
          in: query
          description: |
            This is a *greater than or equal to* filter on the `total` to filter the documents. `afterTax` is the document property considered for the match. \
            All filter conditions will compose a logical `AND` chain in the query. A mix of operators with basic values is not supported. \
            **Examples:**
            * with single operator: `filter.total.gte=1000.55`
            * with other operators (behave like AND): `filter.total.gte=1000.55&filter.total.lte=1010.90`
          required: false
          schema:
            type: number
            minimum: 0
        - name: filter.total.lte
          in: query
          description: |
            This is a *lesser than or equal to* filter on the `total` to filter the documents. `afterTax` is the document property considered for the match. \
            All filter conditions will compose a logical `AND` chain in the query. A mix of operators with basic values is not supported. \
            **Examples:**
            * with single operator: `filter.total.lte=1000.55`
            * with other operators (behave like AND): `filter.total.gte=1000.55&filter.total.lte=1010.90`
          required: false
          schema:
            type: number
            minimum: 0
        - name: filter.status
          in: query
          description: |
            Array of `status` values to filter the documents. Example: `filter.status='CompletedFailed'&filter.status='CompletedSuccess'`
          required: false
          schema:
            $ref: '#/components/schemas/DocumentStatusTypesArray'
        - name: filter.sourceFormat
          in: query
          required: false
          description: |
            Array of `sourceFormat` values to filter the documents. Example: `filter.sourceFormat='image'&filter.sourceFormat='pdf'`
          schema:
            $ref: '#/components/schemas/DocumentSourceFormatsArray'
        - name: filter.warrantyPeriodDuration
          in: query
          description: |
            Array of `userMetadata.warrantyPeriod.duration` values to filter the documents. \
            When an array of filter.warrantyPeriodDuration is provided, they will compose a logial `OR` chain in the query. A mix of operators with basic values is not supported. \
            **Example:** (behave like OR): `filter.warrantyPeriodDuration=1&filter.warrantyPeriodDuration=10`
          required: false
          schema:
            type: array
            items:
              type: number
              minimum: 0
            maxItems: 20
        - name: filter.warrantyPeriodDuration.gte
          in: query
          description: |
            This is a *greater than or equal to* filter on the `userMetadata.warrantyPeriod.duration` to filter the documents. \
            All filter conditions will compose a logical `AND` chain in the query. A mix of operators with basic values is not supported. \
            **Examples:**
            * with single operator: `filter.warrantyPeriodDuration.gte=1`
            * with other operators (behave like AND): `filter.warrantyPeriodDuration.gte=1&filter.warrantyPeriodDuration.lte=10`
          required: false
          schema:
            type: number
            minimum: 0
        - name: filter.warrantyPeriodDuration.lte
          in: query
          description: |
            This is a *lesser than or equal to* filter on the `userMetadata.warrantyPeriod.duration` to filter the documents. \
            All filter conditions will compose a logical `AND` chain in the query. A mix of operators with basic values is not supported. \
            **Examples:**
            * with single operator: `filter.warrantyPeriodDuration.lte=10`
            * with other operators (behave like AND): `filter.warrantyPeriodDuration.gte=1&filter.warrantyPeriodDuration.lte=10`
          required: false
          schema:
            type: number
            minimum: 0
        - name: filter.warrantyPeriodUnit
          in: query
          description: |
            Array of `userMetadata.warrantyPeriod.unit` values to filter the documents. Example: `filter.warrantyPeriodUnit='day'&filter.warrantyPeriodUnit='week'`
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/PeriodUnitEnum'
            maxItems: 20
      responses:
        '200':
          description: Success. The list of documents was successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDocumentListResponseDto'
        '400':
          description: 'Bad Request. This will occur if you omit a required parameter, send an invalid parameter or if you provide an invalid value for a parameter.'
        '401':
          description: 'Unauthorized. This will occur if you do not supply an access-token to this endpoint, or if you provide an expired or invalid access token.'
        '403':
          description: Forbidden. This will occur if you try to use this endpoint without being setup for documents.
        '500':
          description: Internal Server Error.
    post:
      tags:
        - Documents
      operationId: postDocument
      summary: Create a new document
      description: |
            This allows clients to submit new documents to be processed by the system.
            Only clients with the feature flag enableInvoice enabled are allowed to submit documentType = 'invoice'.
            Contact Sensibill support for more information about the enableInvoice feature flag.
      requestBody:
        $ref: '#/components/requestBodies/DocumentCreateRequest'
      responses:
        '200':
          description: Success. The new document was successfully submitted and its ID returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentCreationResponseDto'
        '400':
          description: Bad Request. This will occur if you provide an invalid value for a request parameter, an invalid parameter or invalid body.
        '401':
          description: Unauthorized. This will occur if you do not supply an access-token to this endpoint, or if you provide an expired or invalid access token.
        '403':
          description: Forbidden. This will occur if you try to use this endpoint without being setup for documents.
        '500':
          description: Internal Server Error.
    delete:
      tags:
        - Documents
      operationId: deleteDocuments
      summary: Delete documents
      description: |
        This endpoint will allow you to batch delete documents.
        To delete one or more documents pass their ids as an array in the request body
        **Important**: If any of the documents fail to delete the whole request will fail
      requestBody:
        $ref: '#/components/requestBodies/DocumentDeleteRequest'
      responses:
        '200':
          description: Success. The documents were deleted from the system and the array of deleted document ids are passed back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentDeleteResponseDto'
        '400':
          description: 'Bad Request. This will occur if you provide an invalid value for a request parameter, an invalid parameter or invalid body. This can also happen if there is a problem deleting one or more of the documents in the request The response will have the document id that caused the problem and the error message'
        '401':
          description: 'Unauthorized. This will occur if you do not supply an access-token to this endpoint, or if you provide an expired or invalid access token.'
        '403':
          description: Forbidden. This will occur if you try to use this endpoint without being setup for documents.
        '500':
          description: Internal Server Error.
  '/documents/{id}':
    get:
      tags:
        - Documents
      summary: Get a document
      description: This endpoint will retrieve the details of a single document with the given ID.
      operationId: getDocumentById
      parameters:
        - $ref: '#/components/parameters/DocumentIdParameter'
      responses:
        '200':
          description: Success. The document was successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDocumentResponseDto'
        '400':
          description: Bad Request. This will occur if you provide an invalid value for a request parameter.
        '401':
          description: 'Unauthorized. This will occur if you do not supply an access-token to this endpoint, or if you provide an expired or invalid access token.'
        '403':
          description: Forbidden. This will occur if you try to use this endpoint without being setup for documents.
        '404':
          description: Not Found. The document ID you have provided is not one of this user's documents.
        '500':
          description: Internal Server Error.
    patch:
      tags:
        - Documents
      summary: Update a document
      operationId: editDocument
      description: |
        This endpoint allows you to update a specific subset of data for a single document given its ID. \
        The schema defined below outlines the fields which can be updated. 
        To unset a specific field you can pass empty string or null. Numeric or Enum fileds must be null to unset.
      parameters:
        - $ref: '#/components/parameters/DocumentIdParameter'
      requestBody:
        description: An object composed of all the fields you want to edit for the given document.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditDocumentRequestDto'
      responses:
        '200':
          description: Successful response - returns the Id of the updated document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EditDocumentResponseDto'
        '400':
          description: Bad Request. This will occur if you provide an invalid value for a request parameter.
        '401':
          description: 'Unauthorized. This will occur if you do not supply an access-token to this endpoint, or if you provide an expired or invalid access token.'
        '403':
          description: Forbidden. This will occur if you try to use this endpoint without being setup for documents.
        '404':
          description: Not Found. The document ID you have provided is not one of this user's documents.
        '500':
          description: Internal Server Error.
  '/documents/{id}/image':
    get:
      operationId: documentImage
      tags:
        - Documents
      summary: Get an image version of the document.
      description: 'This endpoint allows you to get an image (jpeg) for any type of document(image, pdf, html_email, etc..).  <br/>This will be the url that was returned in the imagePreview field in the GET documents details data format endpoint. <br/><br/><strong>Important</strong>: This may take up to 20 seconds to return for pdf or email documents when calling for the first time'
      parameters:
        - name: id
          in: path
          description: A unique ID that identifies this document in the Sensibill system.
          required: true
          schema:
            $ref: '#/components/schemas/GenericIdString'
      responses:
        '200':
          description: Success. Successfully returned the jpeg image of the document.
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
        '400':
          description: 'Bad Request. This will occur if you omit a required parameter, or if you provide an invalid value for a required parameter.'
        '401':
          description: 'Unauthorized. This will occur if you do not supply an access-token to this endpoint, or if you provide an expired or invalid access token.'
        '403':
          description: Forbidden. This will occur if you attempt to use a client token with this endpoint. This endpoint must be used with a user-token.
        '404':
          description: Not Found. The receiptID you have provided is not one of this user's documents.
  '/documents/{id}/pdf':
    get:
      operationId: documentPdf
      tags:
        - Documents
      summary: Get the orginal pdf of a pdf/pdf_email source format document.
      description: 'This endpoint allows you to get the original pdf for any pdf source format document (pdf or pdf_email).  <br/>This will be the url that was returned in the url field in the GET document details data format endpoint for pdf documents. <br/><br/><strong>Important</strong>: This endpoint can only be called for pdf or pdf_email source format documents and will not work with other document source format types'
      parameters:
        - name: id
          in: path
          description: A unique ID that identifies this document in the Sensibill system.
          required: true
          schema:
            $ref: '#/components/schemas/GenericIdString'
      responses:
        '200':
          description: Success. Successfully returned the original document pdf.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          description: 'Bad Request. This will occur if you omit a required parameter, or if you provide an invalid value for a required parameter.'
        '401':
          description: 'Unauthorized. This will occur if you do not supply an access-token to this endpoint, or if you provide an expired or invalid access token.'
        '403':
          description: Forbidden. This will occur if you attempt to use a client token with this endpoint. This endpoint must be used with a user-token.
        '404':
          description: Not Found. The receiptID you have provided is not one of this user's documents.
  /documents/status:
    get:
      tags:
        - Documents
      summary: Query documents for processing status updates
      description: Query a list of documents (using their id) for their processing status
      operationId: getDocumentsStatus
      parameters:
        - name: id
          in: query
          description: |
            The unique identifier for the document in the Sensibill system. \
            You can query up to ten Ids at once by appending each pair with the `&` character
          required: true
          schema:
            type: array
            minItems: 1
            maxItems: 10
            items:
              $ref: '#/components/schemas/GenericIdString'
        - name: timeout
          in: query
          description: |
            The most amount of time (in seconds) that the client wants to wait for a response from the server. \
            A response is immediately returned if **timeout is omitted**, but its value cannot be more than 25 seconds (max timeout) if provided.
          required: false
          schema:
            type: integer
            maximum: 25
            minimum: 1
            example: 20
      responses:
        '200':
          description: Success. The list of document statuses was successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsStatusResponseDto'
        '400':
          description: 'Bad Request. This will occur if you omit a required parameter, send an invalid parameter or if you provide an invalid value for a parameter.'
        '401':
          description: 'Unauthorized. This will occur if you do not supply an access-token to this endpoint, or if you provide an expired or invalid access token.'
        '403':
          description: Forbidden. This will occur if you try to use this endpoint without being setup for documents.
        '500':
          description: Internal Server Error.
  /exports:
    post:
      operationId: createExport
      tags:
        - Exports
      summary: Export documents
      description: |
        This API call allows you to export a set of documents for a user. To call this endpoint, you must use a user-token. You can not call this endpoint without it. \
        Users can have as many exports as they need. Exports are kept in Sensibill's system for the period of 14 days.
      requestBody:
        $ref: '#/components/requestBodies/ExportCreateRequest'
      responses:
        '200':
          description: Success. The export request was received sucessfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportCreateResponseDto'
        '400':
          description: 'Bad Request. This will occur if you omit a required parameter, if you provide an invalid value for a required parameter, or if you exceed the limit of 500 documents in an export.'
        '401':
          description: 'Unauthorized. This will occur if you do not supply an access-token to this endpoint, or if you provide an expired or invalid access token.'
        '403':
          description: Forbidden. This will occur if you attempt to use a client token with this endpoint. This endpoint must be used with a user-token.
    get:
      operationId: getExports
      tags:
        - Exports
      summary: Get exports
      description: |
        This endpoint provides the ability to retrieve the list of exports for a user. A user-token is required to access this endpoint.
      responses:
        '200':
          description: Success. The list of exports is successfully returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportsStatusDto'
        '400':
          description: 'Bad Request. This will occur if you omit a required parameter, or if you provide an invalid value for a required parameter.'
        '401':
          description: 'Unauthorized. This will occur if you do not supply an access-token to this endpoint, or if you provide an expired or invalid access token.'
        '403':
          description: Forbidden. This will occur if you attempt to use a client token with this endpoint. This endpoint must be used with a user-token.
  '/exports/{id}':
    get:
      operationId: getExportById
      tags:
        - Exports
      summary: Get export status
      description: |
        This endpoint provides the ability to periodically poll for the export status.
        The id is the export id received during the first step (asynchronous POST). \
        The response contains status information on the export.
      parameters:
        - $ref: '#/components/parameters/ExportIdParameter'
      responses:
        '200':
          description: Success. The status of the export is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportsResponseDto'
        '400':
          description: 'Bad Request. This will occur if you omit a required parameter, or if you provide an invalid value for a required parameter.'
        '401':
          description: 'Unauthorized. This will occur if you do not supply an access-token to this endpoint, or if you provide an expired or invalid access token.'
        '403':
          description: Forbidden. This will occur if you attempt to use a client token with this endpoint. This endpoint must be used with a user-token.
        '404':
          description: Not Found. The export ID you have provided is not one of this user's exports.
  /lookups/documentcategories:
    get:
      operationId: getDocumentCategories
      tags:
        - Lookups
      summary: Document categories
      description: This API call allows for retrieval of a list of document categories. To call this endpoint, you can use either a client-token or a user-token.
      parameters:
        - $ref: '#/components/parameters/ScaleParameter'
        - $ref: '#/components/parameters/LocaleParameter'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLookupCategoryListResponseDto'
        '401':
          description: Unauthorized. This will occur if you do not supply an access-token to this endpoint, or if you provide an expired or invalid access token.
  /lookups/currencies:
    get:
      operationId: getCurrencies
      tags:
        - Lookups
      summary: Supported Currencies
      description: This API call allows you to retrieve the list of currencies that we currently support in our system. To call this endpoint, you can use either a client-token or a user-token.
      parameters:
        - $ref: '#/components/parameters/LocaleParameter'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLookupCurrencyListResponseDto'
        '401':
          description: Unauthorized. This will occur if you do not supply an access-token to this endpoint, or if you provide an expired or invalid access token.
  /lookups/locales:
    get:
      operationId: getLocales
      tags:
        - Lookups
      summary: Supported Locales
      description: This API call allows you to retrieve the list of locales that we currently support in our system. To call this endpoint, you can use either a client-token or a user-token.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLookupLocaleListResponseDto'
        '401':
          description: Unauthorized. This will occur if you do not supply an access-token to this endpoint, or if you provide an expired or invalid access token.
  /merchants:
    get:
      operationId: getMerchants
      tags:
        - Merchants
      summary: Merchants list
      description: 'This endpoint allows you to retrieve a list of merchants with a name, optional merchantID, and optional receipt category that corresponds to the merchant category. Limited to 20 and in ascending alphabetical order. This endpoint requires authentication. Both a user token or a client token are accepted. Requests using a user token will match against merchants available for all users and also against merchant names the user has used on their documents. Those merchants will only have a name, and no merchantID or category.'
      parameters:
        - $ref: '#/components/parameters/MerchantsNameParameter'
      responses:
        '200':
          description: Success. The list of merchants was retrieved and returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantsDto'
        '500':
          description: Internal server error.
  /users:
    post:
      operationId: createUser
      tags:
        - Users
      summary: Register a user
      description: 'This API call allows you to register a new user. To call this endpoint, you must use a client-token. You can not call this endpoint without it.'
      requestBody:
        $ref: '#/components/requestBodies/UserRequest'
      responses:
        '200':
          description: Success. The new user was successfully registered.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterUserResponseDto'
        '400':
          description: 'Bad Request. This will occur if you omit a required parameter, or if you provide an invalid value for a required parameter.'
        '401':
          description: 'Unauthorized. This will occur if you do not supply an access-token to this endpoint, or if you provide an expired or invalid access token.'
  /jwtRegister:
    post:
      operationId: registerWithJwt
      tags:
        - Users
      summary: Register a user using JWT
      description: 'This API call allows you to register a new user using a JSON Web Token. <br/><br/>Your client account must be configured to allow JWT (please reach out to the Sensibill Support Team). The API supports JWS and JWE as JWT implementations. <br/><br/>JWS currently supports RSA and ECDSA signing algorithms (RS256, RS384, RS512, ES256, ES384, ES512). Public keys for signature verification should be made available through a publicly accessible URL. JWS header must have ''''alg'''' and ''''kid'''' parameters and the payload must have at least ''''sub'''' and ''''iat'''' claims. The ''''sub'''' claim will be used as a user access ID for the user being created. If there is a desire to use another claim for those purposes then it can be configured during the client account setup. JWS implementation also supports ''''exp'''', ''''aud'''', ''''iss'''' and ''''scp'''' claims. If there is a need to validate those claims they should be configured as part of the client account setup. <br/><br/>JWE currently supports RSAES OAEP using default parameters (''''alg'''': RSA-OAEP) for encrypting the Content Encryption Key (CEK) and AES GCM using 256-bit key (''''enc'''': ''''A256GCM'''') for encrypting the content. Please reach out to the Sensibill Support Team to receive Sensibill’s public key to be used for JWT encryption. JWE’s content is expected to be a JWS conforming to the JWS requirements mentioned earlier.'
      requestBody:
        $ref: '#/components/requestBodies/JwtUserRequest'
      responses:
        '200':
          description: Success. The new user was successfully registered.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterUserResponseDto'
        '400':
          description: 'Bad Request. This will occur if you omit a required parameter, if you provide an invalid value for a required parameter, or if the JSON Web Token is either incomplete or cannot be verified. This status code will also occur if you try to register the same user more than once. In that case, an InvalidParametersError response will be returned containing the error ''Access ID is already registered.'''
  '/users/{userID}':
    get:
      operationId: getUserById
      tags:
        - Users
      summary: Retrieve account information
      description: 'This allows you to retrieve the account information for a user. The userID can be either the Sensibill specific userID or can be "me", which will return the user object for the user who is authenticated with the access token. <br/><br/>Accounts on the system can be in one of two states - registered or unregistered. For most normal purposes, you will deal only with registered accounts, such as those you create using the registration endpoint. However, it is possible for an account to be on our system, but unregistered. This can happen if we receive a document from a POS system for a user that is not yet on our system. <br/><br/>This endpoint accepts both user tokens and client tokens. <br/><br/>When using a user token, you are only allowed to retrieve the account information for the user associated with the access token you supply. <br/><br/>You can only use a client token with this endpoint if that has been explicitly enabled on your account. Please contact the Sensibill team in order to have this policy enabled on your account - it is disabled by default. When you request User information using a client token, only a limited number of fields will be returned.'
      parameters:
        - $ref: '#/components/parameters/UserIdParameter'
        - $ref: '#/components/parameters/ExcludeAlertsParameter'
      responses:
        '200':
          description: Success. The information for the user account was retrieved and returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponseDto'
        '400':
          description: 'Bad Request. This will occur if you omit a required parameter, or if you provide an invalid value for a required parameter.'
        '401':
          description: 'Unauthorized. This will occur if you do not supply an access-token to this endpoint, or if you provide an expired or invalid access token.'
        '403':
          description: Forbidden. This will occur if the access-token you have provided is not authorized to retrieve the information for the user you have requested. This can also occur if you attempt to use a client token with this endpoint.
        '404':
          description: Not Found. The userID you have provided is invalid. It should be either "me" or a valid userID.
    delete:
      operationId: deleteUser
      tags:
        - Users
      summary: Delete user account
      description: 'This allows you to delete a user account. The userID can be either the Sensibill specific userID or "me", which will delete the user object for the user who is authenticated with the access token.</br>This endpoint can be used with either a client token or a user token.</br>When using a user token, you are only allowed to delete the account information for the user associated with the access token you supply in.</br>The optional export parameters may be passed as query parameters or in the request body.</br>In order to use this endpoint with client tokens, you must have that feature explicitly enabled on your account. It is disabled by default. Please contact the Sensibill team in order to have this enabled.</br> Deleting a user will also purge all documents from Sensibill''s system.'
      parameters:
        - $ref: '#/components/parameters/UserIdParameter'
        - $ref: '#/components/parameters/DeleteUserExportParameter'
        - $ref: '#/components/parameters/DeleteUserExportEmailParameter'
      responses:
        '200':
          description: Success. The user was successfully queued for destruction.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyObjectResponseDto'
        '401':
          description: 'Unauthorized. This will occur if you do not supply an access-token to this endpoint, or if you provide an expired or invalid access token.'
        '403':
          description: Forbidden. This will occur if the access-token you have provided is not authorized to retrieve the information for the user you have requested. This can also occur if you attempt to use a client token with this endpoint.
        '404':
          description: Not Found. The userID you have provided is invalid. It should be either "me" or a valid userID.
    put:
      operationId: upsertUser
      tags:
        - Users
      summary: Update account information
      description: 'This allows you to update the account information of a user. <br/><br/>This endpoint can be used with either a user token or a client token. <br/><br/>When using a user token, the userID can be either the Sensibill specific ID or "me", which will point to the user object for the user who is authenticated with the access token. <br/><br/>In order to use this endpoint with a client token, you must have this policy explicitly enabled on your account. It will be disabled by default. Please contact the Sensibill team if you need to have this policy enabled on your account. When using a client token,  you are only allowed to change the ''status'' field on a user''s account. This is provided so that Clients can disable and re-enable user accounts without requiring them to log in.'
      parameters:
        - $ref: '#/components/parameters/UserIdParameter'
      requestBody:
        $ref: '#/components/requestBodies/UserUpdateRequest'
      responses:
        '200':
          description: Success. The information for the user account was updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyObjectResponseDto'
        '400':
          description: 'Bad Request. This will occur if you omit a required parameter, or if you provide an invalid value for a required parameter.'
        '401':
          description: 'Unauthorized. This will occur if you do not supply an access-token to this endpoint, or if you provide an expired or invalid access token.'
        '403':
          description: Forbidden. This will occur if the access-token you have provided is not authorized to update the information for this user. This can also occur if you attempt to use a client token with this endpoint.
        '404':
          description: Not Found. The userID you have provided is invalid. It should be either "me" or a valid userID.
  /users/emailAvailability:
    get:
      operationId: getEmailAvailability
      tags:
        - Users
      summary: Check for the availability of an email address to register a new user.
      description: This endpoint allows you to check whether a particular email address to register a new account is available or not before you register a new user.<br/><br/>This endpoint can be used with either a client token or a user token.
      parameters:
        - $ref: '#/components/parameters/EmailParameter'
      responses:
        '200':
          description: 'Success. This status code will be issued both when the email address is available, and when it is not. You need to check the body of the response to see whether or not the email address is available.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailAvailabilityResponseDto'
        '400':
          description: 'Bad Request. This will occur if you omit the email address, or the email address provided is not well formed.'
        '401':
          description: 'Unauthorized. This will occur if you do not supply an access-token to this endpoint, or if you provide an expired or invalid access token.'
  /users/receiptEmailAvailability:
    get:
      operationId: getReceiptEmailAvailability
      tags:
        - Users
      summary: Check for the availability of a receipt email address.
      description: 'This endpoint allows you to check whether a particular receipt email address to register a new account is available or not before you register a new user. If the given email address is available, then this endpoint will return back a JSON object with the property available set to true. If the email address is taken, then this endpoint will return back the property available set to false, along with a list of alternative email addresses. <br/><br/>This endpoint can be used with either a client token or a user token.'
      parameters:
        - $ref: '#/components/parameters/ReceiptEmailParameter'
      responses:
        '200':
          description: 'Success. This status code will be issued both when the email address is available, and when it is taken. You need to check the body of the response to see whether or not the email address is available.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReceiptEmailAvailabilityResponseDto'
        '400':
          description: Bad Request. This will occur if you omit the email address or if the email address is not well formed.
        '401':
          description: 'Unauthorized. This will occur if you do not supply an access-token to this endpoint, or if you provide an expired or invalid access token.'
  /users/usernameAvailability:
    get:
      operationId: getUsernameAvailability
      tags:
        - Users
      summary: Check for the availability of a username.
      description: 'This endpoint allows you to check whether a particular username to register a new account is available or not before you register a new user. If the given username is available, then this endpoint will return back a JSON object with the property available set to true. If the username is taken, then this endpoint will return back the property available set to false. <br/><br/>This endpoint can be used with either a client token or a user token. <br/><br/>In order to use this endpoint, you must have that policy explicitly enabled on your account. It is disabled by default. Please contact the Sensibill team in order to have this enabled.'
      parameters:
        - $ref: '#/components/parameters/UsernameParameter'
        - $ref: '#/components/parameters/UsernameAvailabilityCredentialTypeParameter'
      responses:
        '200':
          description: 'Success. This status code will be issued both when the username is available, and when it is taken. You need to check the body of the response to see whether or not the username is available.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsernameAvailabilityResponseDto'
        '400':
          description: Bad Request. This will occur if you omit the username.
        '401':
          description: 'Unauthorized. This will occur if you do not supply an access-token to this endpoint, or if you provide an expired or invalid access token.'
  /folders:
    get:
      operationId: getFolders
      tags:
        - Folders
      summary: List the folders for a user
      description: This endpoint allows you to list the folders in the authenticating user's account.
      parameters:
        - $ref: '#/components/parameters/LocaleParameter'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFoldersListResponseDto'
        '401':
          description: 'Unauthorized. This will occur if you do not supply an access-token to this endpoint, or if you provide an expired or invalid access token.'
    post:
      operationId: createFolder
      tags:
        - Folders
      summary: Add a new folder for a user
      description: This endpoint allows you to add a folder to the authenticating user's account.
      requestBody:
        $ref: '#/components/requestBodies/FolderCreateRequest'
      responses:
        '200':
          description: Success. The folder was successfully added.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FolderCreationResponseDto'
        '401':
          description: 'Unauthorized. This will occur if you do not supply an access-token to this endpoint, or if you provide an expired or invalid access token.'
    delete:
      operationId: deleteFolders
      tags:
        - Folders
      summary: Delete multiple folders for a user
      description: This endpoint allows you to perform a batch deletion of folders on a User object.
      parameters:
        - $ref: '#/components/parameters/FolderIdsParameter'
        - $ref: '#/components/parameters/DeleteDocumentsParameter'
      requestBody:
        $ref: '#/components/requestBodies/FoldersDeleteRequest'
      responses:
        '200':
          description: Success. The folders were successfully removed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyObjectResponseDto'
        '401':
          description: 'Unauthorized. This will occur if you do not supply an access-token to this endpoint, or if you provide an expired or invalid access token.'
        '404':
          description: Not Found. One or more folderIDs you have provided in the request do not belong to this user. See the user object for a list of their folders.
  '/folders/{folderId}':
    put:
      operationId: upsertFolder
      tags:
        - Folders
      summary: Update a folder for a user
      description: This endpoint allows you to update a folder in the authenticating user's account.
      parameters:
        - $ref: '#/components/parameters/FolderIdParameter'
      requestBody:
        $ref: '#/components/requestBodies/FolderUpdateRequest'
      responses:
        '200':
          description: Success. The folder was successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyObjectResponseDto'
        '401':
          description: 'Unauthorized. This will occur if you do not supply an access-token to this endpoint, or if you provide an expired or invalid access token.'
        '404':
          description: Not Found. The folderID you have provided is not one of this user's folders. See the user object for a list of their folders.
    delete:
      operationId: deleteFolder
      tags:
        - Folders
      summary: Delete a folder for a user
      description: This endpoint allows you to delete a folder from the authenticating user's account.
      parameters:
        - $ref: '#/components/parameters/FolderIdParameter'
        - $ref: '#/components/parameters/DeleteDocumentsParameter'
      requestBody:
        $ref: '#/components/requestBodies/FolderDeleteRequest'
      responses:
        '200':
          description: Success. The folder was successfully removed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyObjectResponseDto'
        '401':
          description: 'Unauthorized. This will occur if you do not supply an access-token to this endpoint, or if you provide an expired or invalid access token.'
        '404':
          description: Not Found. The folderID you have provided is not one of this user's folders. See the user object for a list of their folders.
  '/folders/{folderId}/documents':
    put:
      operationId: addDocumentsToFolder
      tags:
        - Folders
      summary: Add document(s) to folder
      description: This endpoint allows you to add one or more documents to a folder owned by the user
      parameters:
        - $ref: '#/components/parameters/FolderIdParameter'
      requestBody:
        $ref: '#/components/requestBodies/AddDocumentsToFolderRequest'
      responses:
        '200':
          description: Success. Documents were successfully added to folder
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsAddedOrRemovedFromFolderResponseDto'
        '401':
          description: 'Unauthorized. This will occur if you do not supply an access-token to this endpoint, or if you provide an expired or invalid access token.'
        '404':
          description: Not Found. The folderID or one of the receipt IDs you have provided do not exist or do not belong to the user.
    delete:
      operationId: removeDocumentFromFolder
      tags:
        - Folders
      summary: Remove document(s) from folder
      description: This endpoint allows you to remove multiple documents from a folder owned by the user
      parameters:
        - $ref: '#/components/parameters/FolderIdParameter'
        - $ref: '#/components/parameters/DocumentIdsParameter'
      requestBody:
        $ref: '#/components/requestBodies/RemoveDocumentsFromFolderRequest'
      responses:
        '200':
          description: Success. Documents were successfully removed from the folder
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsAddedOrRemovedFromFolderResponseDto'
        '401':
          description: 'Unauthorized. This will occur if you do not supply an access-token to this endpoint, or if you provide an expired or invalid access token.'
        '404':
          description: Not Found. The folderID or one of the receipt IDs you have provided do not exist or do not belong to the user.
  
components:
  schemas:
    ApiInfoDto:
      type: object
      properties:
        hostname:
          type: string
          example: tor-some-name-api-04
        version:
          type: string
          example: '8124:8cd97163d91e'
        status:
          type: string
          example: online
        environment:
          type: string
          example: receipts_sandbox
        name:
          type: string
          example: Sensibill API Architecture - Receipts Sandbox
        booted_at:
          type: string
          format: date-time
        base_url:
          type: string
          example: 'https://receipts-sandbox.sensibill.io/'
        endpoints:
          type: object
          properties:
            authorizationGrant:
              type: string
              example: authorizationGrant
            accessToken:
              type: string
              example: accessToken
            logout:
              type: string
              example: logout
            clientInfo:
              type: string
              example: clientInfo
            invalidateAccessToken:
              type: string
              example: invalidate
            jwtAuthenticate:
              type: string
              example: jwtAuthenticate
            usernameAvailability:
              type: string
              example: users/usernameAvailability
            emailAvailability:
              type: string
              example: users/emailAvailability
            registerUser:
              type: string
              example: users
            jwtRegister:
              type: string
              example: jwtRegister
            users:
              type: string
              example: users
            userDetail:
              type: string
              example: 'users/:userId'
            deleteUser:
              type: string
              example: users
            updateUser:
              type: string
              example: users
            forgotpassword:
              type: string
              example: users/forgotpassword
            resetpassword:
              type: string
              example: users/resetpassword
            exportDocuments:
              type: string
              example: export
            listExports:
              type: string
              example: exports
            exportStatus:
              type: string
              example: 'export/:id'
            lookupSupportedCurrencies:
              type: string
              example: lookups/currencies
            lookupSupportedLocales:
              type: string
              example: lookups/locales
            merchantsList:
              type: string
              example: merchants
            documentsList:
              type: string
              example: documents
            documentsPost:
              type: string
              example: documents
            documentsDelete:
              type: string
              example: documents
            documentsPatch:
              type: string
              example: 'documents/:id'
            documentsDetail:
              type: string
              example: 'documents/:id'
            listFolders:
              type: string
              example: folders
            createFolder:
              type: string
              example: folders
            deleteFolders:
              type: string
              example: folders
            updateFolder:
              type: string
              example: 'folders/:folderId'
            deleteFolder:
              type: string
              example: 'folders/:folderId'
            addDocumentsToFolder:
              type: string
              example: 'folders/:folderId/documents'
            deleteDocumentsFromFolder:
              type: string
              example: 'folders/:folderId/documents'
    FolderCreateRequestDto:
      type: object
      required:
        - name
        - color
      properties:
        name:
          type: string
          example: MyOtherFolder
          description: The name for this folder. A user may not have two folders with the same name.
        color:
          type: string
          example: aa0000
          description: 'Six hex digits representing the color of this folder, e.g. <code>cc0000</code> or <code>9b1515</code>.'
    FolderUpdateRequestDto:
      type: object
      properties:
        name:
          type: string
          example: MyOtherFolder
          description: The name for this folder. A user may not have two folders with the same name.
        color:
          type: string
          example: aa0000
          description: 'Six hex digits representing the color of this folder, e.g. <code>cc0000</code> or <code>9b1515</code>.'
    FolderDeleteRequestDto:
      type: object
      properties:
        deleteDocuments:
          type: boolean
          default: false
          description: Delete any documents that are in this folder.
    FoldersDeleteRequestDto:
      type: object
      required:
        - folders
      properties:
        folders:
          type: array
          items:
            type: string
            description: List of folder IDs that you want deleted.
            example: 6OeYUlNyyeVHEmHMLmgZ
        deleteDocuments:
          type: boolean
          default: false
          description: Delete any documents that are in this folder.
    GetFoldersListResponseDto:
      type: object
      required:
        - folders
      properties:
        folders:
          type: array
          items:
            $ref: '#/components/schemas/FolderListItemDto'
    FolderListItemDto:
      type: object
      required:
        - id
        - name
        - color
        - updatedAt
        - createdAt
        - count
      properties:
        id:
          type: string
          minLength: 5
          maxLength: 75
          pattern: ^[a-zA-Z0-9-_:.]{5,75}$
          example: 6OeYUlNyyeVHEmHMLmgZ
          description: The id of the folder
        name:
          type: string
          example: Renovations-2021-Jan
          description: The name for this folder. A user may not have two folders with the same name.
        color:
          type: string
          example: cc0000
          description: Six hex digits representing the color of this folder.
        updatedAt:
          type: string
          format: date-time
          example: '2015-09-30T17:56:45.236Z'
        createdAt:
          type: string
          format: date-time
          example: '2015-11-30T17:56:45.236Z'
        count:
          type: integer
          example: 3
        totals:
          type: array
          items:
            $ref: '#/components/schemas/FolderListItemTotalsDto'
    FolderListItemTotalsDto:
      type: object
      required:
        - count
        - amount
        - currencyCode
        - displayAmount
      properties:
        amount:
          type: number
          example: 35.53
          description: The total amount of all receipts in the folder matching the currency code.
        count:
          type: integer
          example: 3
          description: The count of all reeipts in the folder matching the currency code. Must be a valid currency code as returned by our /lookups/currencies endpoint
        currencyCode:
          type: string
          example: CAD
          description: The currency code associated with the total amount of the receipts in the folder matching this currency. It will be a valid currency code as returned by our /lookups/currencies endpoint
        displayAmount:
          type: string
          example: $35.53
          description: 'The total amount of all receipts in the folder matching the currency code formatted based on the specified locale, or if not specified the locale of the user.'
    FolderCreationResponseDto:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          minLength: 5
          maxLength: 75
          pattern: ^[a-zA-Z0-9-_:.]{5,75}$
          example: 9k-mU2YuNiakP0O2mCvF
    DocumentsAddedOrRemovedFromFolderResponseDto:
      type: object
      required:
        - updated
      properties:
        updated:
          type: integer
          example: 2
    AddOrRemoveDocumentsFromFolderDto:
      type: object
      required:
        - documentIds
      properties:
        documentIds:
          type: array
          items:
            type: string
            example: Iw6DUSraLoGOnHiL2Ps4pBz8F1oQCndA4UhzS80OAHDg0LxpJzRtmUr89sFrYS2DfQfbhhkF8kPe5jF9_nFE
    JwtAuthenticateRequestDto:
      type: object
      required:
        - client
      properties:
        client:
          type: string
          description: The clientID of the user's client.
          example: first_canadian_bank
    AccessTokenRequestDto:
      type: object
      required:
        - grant_type
        - refresh_token
        - redirect_uri
      properties:
        grant_type:
          default: ''
          type: string
          example: authorization_code
          description: 'This is the type of authentication the client is presenting for its access-token.</br> If the client is looking for a client-token, then this should be set to ''client_credentials''.</br> If the client is looking to swap an authorization grant for an access token, this should be setto ''authorization_code''</br> If the client is looking to swap a refresh_token for a new access token, this should be setto ''refresh_token'''
        redirect_uri:
          default: ''
          type: string
          example: 'https://testclient.com/redirect'
          description: 'If the client is swapping an authorization code for an access token, then this argument is required.If you are just obtaining a client token directly, you do not need to provide a redirect_uri. This must be the same redirect_uri that was provided to the authorizationGrant endpoint, and must also match the redirect_uri which was registered with your client when you received your client credentials.'
        code:
          default: ''
          type: string
          example: DBhXEQiQiwqCV4hI61HX7NZfqCeGLpYt72ZCkAl-ZDQOjRKpKCVxBTLuhdc0-pX5xdM-4KfBdidwPJy05Oxs3w
          description: 'If the client is swapping an authorization code for an access token, then this argument is required.If you are just obtaining a client token directly, you do not need to provide a code. This parameteris the authorization_code which you obtained when you used the authorizationGrant endpoint.'
        refresh_token:
          default: ''
          type: string
          description: 'If the client is swapping a refresh_token for an access token, then this argument is required.Otherwise, this parameter should be omitted.This parameter is the refresh_token which you obtained when you last used the access_token endpoint.'
    JwtAuthenticateResponseDto:
      type: object
      properties:
        token_id:
          type: string
          description: 'A random string that may be used to generate signed URLs for certain resources, in circumstances where it is not possible to pass an Authorization header. For example, when showing an embedded image in a web page.'
          example: FA0Ui__ecxisIrNowkytya8ff5vS9FNnxQHGE7EoT7Tl
        access_token:
          type: string
          description: The access token which can be used as a bearer token for authenticated requests.
          example: b9E3EbzmJLf2mGBVevKra8u8PjFKU4kUGIb2lLvoKHV4_bvbxHSi5K6uu32MvhGDvsJS9pdGn9aR-V4WVyTySg
        expires_in:
          type: integer
          description: The number of seconds until the token expires.
          example: 10800
    AccessTokenResponseDto:
      type: object
      properties:
        token_id:
          type: string
          example: oRXBt_-3HsVLr1B_51U_bscYdp1-xrhqey0sBxJrEHD-
        access_token:
          type: string
          example: vVYGgu3HiktX4CgZVakDklQoL9uLw5qPibQdbMNt0dnH4L_oVTBHhXmDn-G99RJ6cimusHRhtERfZO7jtPkwDg
        refresh_token:
          type: string
          example: kLDmKsaak0vbiMiVn6p7V0HXaaI6rVkt6z5fNKpSLHE038fWG3wCwkL0QDDwdn3_z9k-9PKs7yaWx5qX52lnOA
        token_type:
          type: string
          example: bearer
        expires_in:
          type: integer
          example: 10800
        refresh_expires_in:
          type: integer
          example: 21600
    ClientPoliciesDto:
      type: object
      properties:
        _id:
          type: string
          example: 55fb3657eef7ae084d000051
        webSDKOptions:
          type: object
          properties:
            webDebug:
              type: boolean
              example: false
            webBaseUrl:
              type: string
            webSDKUrl:
              type: string
        registrationEmails:
          type: array
          items:
            type: string
        registrationEmailPolicyMode:
          type: string
          example: norestriction
        receiptEmailDomainPolicyMode:
          type: string
          example: norestriction
        credentialTypePolicyMode:
          type: string
          example: norestriction
        featurePolicyMode:
          type: string
          example: norestriction
        features:
          type: array
          items:
            type: string
        allowedFeatures:
          type: object
          properties:
            clientCanDisableUser:
              type: boolean
              example: false
            clientCanRetrieveUserData:
              type: boolean
              example: false
            clientCanDestroyUsers:
              type: boolean
              example: false
            enhancedReceiptView:
              type: boolean
              example: true
            editing:
              type: boolean
              example: true
            userManagement:
              type: boolean
              example: true
            navigation:
              type: boolean
              example: true
            registration:
              type: boolean
              example: true
            noReceiptAccount:
              type: boolean
              example: false
            nonEmailUsernames:
              type: boolean
              example: false
            merchantLogo:
              type: boolean
              example: true
            merchantColor:
              type: boolean
              example: true
            menuViewAll:
              type: boolean
              example: true
            forgotPassword:
              type: boolean
              example: true
            feedback:
              type: boolean
              example: true
            enableExportEmails:
              type: boolean
              example: true
            emailNotifications:
              type: boolean
              example: true
            advertiseEmailForwarding:
              type: boolean
              example: true
        credentialTypes:
          type: array
          items:
            type: string
            example: sensibill
        receiptEmailDomains:
          type: array
          items:
            type: string
            example: billpass.ca
        receiptEmailDomainsAndAliases:
          type: array
          items:
            type: object
            properties:
              _id:
                type: string
                example: 5730f6eab57118365a00024c
              emailDomain:
                type: string
                example: billpass.ca
              aliases:
                type: array
                items:
                  type: string
                  example: billpass.ca
        featureOptions:
          type: object
          properties:
            insights:
              type: object
              properties:
                deactivationDate:
                  type: string
                activationDate:
                  type: string
            achievements:
              type: object
              properties:
                deactivationDate:
                  type: string
                activationDate:
                  type: string
            outgoingEmail:
              type: object
              properties:
                frontendUrlBase:
                  type: string
                emailViewPrefix:
                  type: string
                senderAddress:
                  type: string
            metrics:
              type: object
              properties:
                siteID:
                  type: string
                trackingURL:
                  type: string
                enableMetrics:
                  type: boolean
                  example: false
            camera:
              type: object
              properties:
                frontendAutomaticCaptureTimeout:
                  type: integer
                  example: 10
                showLongReceiptCapture:
                  type: boolean
                  example: true
                frontendCameraCaptureDefault:
                  type: string
                  example: auto
                showAutomaticCapture:
                  type: boolean
                  example: true
            showNotificationCenter:
              type: boolean
              example: true
            enableOfflineSupport:
              type: boolean
              example: true
            filters:
              type: object
              properties:
                showPaymentFilter:
                  type: boolean
                  example: true
                showDateFilter:
                  type: boolean
                  example: true
                showCurrencyFilter:
                  type: boolean
                  example: true
                showFilters:
                  type: boolean
                  example: true
            listingScreen:
              type: object
              properties:
                showWeeklyGrouping:
                  type: boolean
                  example: true
                showMonthlyGrouping:
                  type: boolean
                  example: true
            issueReporting:
              type: object
              properties:
                showAdditionalFeedback:
                  type: boolean
                  example: true
                showIssueReporting:
                  type: boolean
                  example: true
            showExpenseType:
              type: boolean
              example: true
            showTips:
              type: boolean
              example: true
            reminders:
              type: object
              properties:
                enableReturnReminders:
                  type: boolean
                  example: true
                enableWarrantyReminders:
                  type: boolean
                  example: true
                showReminders:
                  type: boolean
                  example: true
            showCategories:
              type: boolean
              example: true
            showNotes:
              type: boolean
              example: true
            showTags:
              type: boolean
              example: true
            showFavorites:
              type: boolean
              example: true
            showFolders:
              type: boolean
              example: true
            exports:
              type: object
              properties:
                populateName:
                  type: boolean
                  example: false
                requireAuthentication:
                  type: boolean
                  example: true
                enableExportNotifications:
                  type: boolean
                  example: true
                showExports:
                  type: boolean
                  example: true
            showUserManagement:
              type: boolean
              example: true
            registration:
              type: object
              properties:
                receiptAccountEmail:
                  type: string
                  enum:
                    - optional
                    - required
                    - disabled
                  example: optional
                requireReceiptAccount:
                  type: boolean
                  example: true
                requireEmails:
[...]
